
.he{
    background-color: rgb(158, 121, 73);
}
.bu button{
    background-color: rgb(88, 61, 84);
    color:orange;
    float: right;
    padding:10px 10px;
    margin: 10px;
    margin-right: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    background-color: rgb(16, 173, 50);
    height: 100px;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 190px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 16.5%; /* Stay at the top */
  left: 0; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: rgb(197, 114, 214);
}
.sidenav h4{
  padding-top: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: block;
  block-size: 30px;
  padding: .125rem 0;
  color: rgb(214, 50, 72);
  background-color: rgb(183, 224, 32);
}


#accordian{
    top:70px;
}
.card{
    position: relative;
    margin:auto;
    width : 500px;
    height: 320px;
    box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    top: 75%;
    color: white;
    border: 3px solid rgb(189, 85, 37);
}

.text-block {
    font-style: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    right:10px;
    background-color: rgb(113, 190, 196);
}
.card_body{
    padding: 1rem;
    margin: 1rem;
    height: 10%;
}

#img{
    filter:brightness(150%);
}

.st_button{
    color: yellowgreen;
    background-color: rgb(88, 61, 84);
    border-radius: 6px;
    width: 100px;
    height: 30px;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    #accordian{
        width: 100%;
        height: 50%;
    }
    .text-block{
        height: 70%;
    }
    .card {
    height:220px;
    width: 50%;
    padding: 0;
    }
    .sidenav {
      width: 20%
    }
}

